#brand {
    font-weight:bold;
    font-size:50;
    color:black;
    background-color:#78A5A3;
    border:2px solid black;
    font-family: Oswald;
}

#main-nav li{
    background-color: #044455;
}


.jumbotron {
     padding: 10px;
     margin:100px;
     color:black;
     margin-top:150px;
     padding:20px;
     border-radius:2px 2px 2px 2px;
     font-size:30px;
     width:700px;
 
}

body {
    
    background-color: #6FB98F;
}

div {
    background-color: #C4DFE6;
}
    

.color{
    color:white;
    
}

h2 {
    font-family:oswald;
    margin:20px;
    color:black;
    padding:20px;
    font-size:50px;
    border:3px black solid;
    border-style:double hidden double hidden;
}

p{
    margin:20px;
    padding-right:20px;
    font-family: indie flower;
    font-size:30px;
}

.icecream{
    position:absolute;
}


#ice1 {
    top:2000px;
    left:600px;
}

#ice2{
    top:2000px;
    right:600px;
}
