#brand {
    font-weight:bold;
    font-size:25px;
    color:black;
    background-color:#78A5A3;
    border:2px solid black;
    font-family: Oswald;
    text-align:center;
}

#main-nav li{
    background-color: #044455;
}

.jumbotron {
     padding: 10px;
     color:black;
     padding:100px;
     border-radius:2px 2px 2px 2px;
     font-size:30px;
     width:80%;
     margin-left: 135px;
     
}

body {
    
    background-color: #6FB98F;
}

div {
    background-color: #C4DFE6;
}

p{
    margin:20px;
    padding-right:20px;
    font-family: indie flower;
    font-size:30px;
}

.catimg {
    width: 300px;
    margin:40px;
    margin-top:80px;
    margin-left:230px;
    border:2px double black;
}

.card{
    margin:50px;
    margin-top:50px;
    width:500px;
}

nav navbar-nav {
    text-align:center;
}

.col-md-6 {
    
} 

#harriet {
    
}

#marvin{
    margin-left:50%;
    margin:0px;
}




