#brand {
    font-weight: bold;
    font-size: 35px;
    color: black;
    background-color: #78A5A3;
    border: 2px solid black;
    font-family: Oswald;
    text-align: center;
    width:300px;
    height: 60px;
    font-style:italic;
    text-shadow:1px 2px white;
}

#main-nav li {
    background-color: #044455;
    margin-left: 110px;
    margin-top: 5px;
    font-style:italic;
    font-family:oswald;
    font-size:17px;
}

.jumbotron {
    padding: 10px;
    color: black;
    padding: 100px;
    border-radius: 2px 2px 2px 2px;
    font-size: 30px;
    width: 80%;
    margin-left: 135px;
}

body {
    background-color: #6FB98F;
}

div {
    background-color: #C4DFE6;
}

#bigger {
        height: 400px;
}

.bigger2 {
         width: 250px;
         margin-left: 50px;
         border: 2px solid black;
         border-radius: 10px 10px 10px 10px;
         margin-top: 10px;
} 

#thumbnailharriet {
                   width: 600px;
}

.thumbnail {
            margin-top: 15px;
}


#div {
    background-color: #044455;
}

p {
    margin: 20px;
    padding-right: 20px;
    font-family: indie flower;
    font-size: 30px;
}

#marvintext {
    font-size: 29px;
}

#pop {
    height: 250px;
    width: 300px;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
}

#pop2 {
    height: 10px;
    width: 330px;
    border-radius: 10px 10px 10px 10px;
}

h3 {
    text-align: center;
    font-size: 50px;
}

