#brand {
    font-weight: bold;
    font-size: 35px;
    color: black;
    background-color: #78A5A3;
    border: 2px solid black;
    font-family: Oswald;
    text-align: center;
    width:300px;
    height: 60px;
    font-style:italic;
    text-shadow:1px 2px white;
}

#main-nav li{
    background-color: #044455;
    margin-left: 110px;
    margin-top: 5px;
    font-style:italic;
    font-family:oswald;
    font-size:19px;
    border:1px 2px white;
}

#mainjumbo {
    border-radius: 10px 10px 10px 10px;
    font-size: 30px;
    width: 1200px;
    margin-top: 80px;
    margin-left: 30px;
    border: 2px solid black;
}

#div {
    background-color: #044455;
}

h1 {
    font-family: oswald;
    color: black;
    padding: 35px;
    font-size: 80px;
    border-style: double hidden double hidden;
    text-align: center;
    font-style: italic;
 
}

#jumboinfo1 {
    margin: 20px;
    padding-right: 20px;
    font-family: indie flower;
    font-size: 23px;
    text-align: center;
}



h2 {
    font-family: oswald;
    margin: 20px;
    color: black;
    padding: 20px;
    font-size: 80px;
    border-style: double hidden double hidden;
    text-align: left;
    font-style:italic;
}

#jumboinfo2 {
    margin: 20px;
    padding-right: 20px;
    font-family: indie flower;
    font-size: 30px;
}

#jumboinfo3 {
    margin: 20px;
    padding-right: 20px;
    font-family: indie flower;
    font-size: 30px;
}

#jumboinfo4 {
    margin: 20px;
    padding-right: 20px;
    font-family: indie flower;
    font-size: 28px;
}

h3 {
    font-family: oswald;
    margin: 20px;
    color: black;
    padding: 20px;
    font-size: 80px;
    text-align: left;
    font-style:italic;
}

h4 {
    font-family: oswald;
    margin: 20px;
    color: black;
    padding: 20px;
    font-size: 80px;
    text-align: left;
    font-style:italic;
}

#wumbo {
       margin-top: 25px;
       border: 2px solid black;
}

#wumbo2 {
        margin-top: 25px;
        border: 2px solid black;
}

#wumbo3 {
        margin-top: 25px;
        border: 2px solid black;
}

#slideshow {
            width: 600px;
            margin-left: 330px;
            margin-bottom: 25px;
}

