#brand {
    font-weight: bold;
    font-size: 35px;
    color: black;
    background-color: #78A5A3;
    border: 2px solid black;
    font-family: Oswald;
    text-align: center;
    width: 300px;
    height: 60px;
    font-style: italic;
    text-shadow: 1px 2px white;
}

#main-nav li {
    background-color: #044455;
    margin-left: 110px;
    margin-top: 5px;
    font-style: italic;
    font-family: oswald;
    font-size: 19px;
    text-shadow: 1px 2px black;
    color: white;
}

#navblue {
    background-color: #044455;
}